.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 1rem;
    box-shadow: -4px 4px 0 rgb(0, 0, 0);
    z-index: 999;
    width: 99%;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    color: black;
    padding-top: 8px;
    border: 2px solid black;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;
    -ms-border-radius: 0.6rem;
    -o-border-radius: 0.6rem;
}

.nav-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    padding: 0.3rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    cursor: pointer;
    background-color: rgb(59, 11, 104);
    color: white;
    font-weight: bold;

}
.nav-bar-logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-menu {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0 0.5rem 0.5rem 0.5rem;
}

.nav-list {
    position: absolute;
    top: 55px;
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 0.5rem;
    background-color: rgb(59, 11, 104);
    padding: 0.3rem;
    color: white;
    font-weight: bold;
    z-index: 999;
    font-size: 1.3rem;
}