#root {
  max-width: 1280px;
  padding: 0.5rem;
  text-align: center;
  font-family: monospace;
  font-size: 16px;
  position: relative;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Nav {
  width: 98%;
  height: 50px;
  display: flex;
  position: static;
  top: 0.4rem;
  align-items: center;
  z-index: 999;
  position: relative;
}

.body {
  position: relative;
  width: 95%;
  margin: -1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
